.swiper-button-next { color: white; }

.swiper-button-prev { color: white; }

.swiper-slide {
    filter: blur(10px);
    transform: scale(0.5);
    transition: transform .3s ease;
}

.swiper-slide-active {
    filter: blur(0);
    transform: scale(1) translateX(-40%);
}