:root {
    --blue: #0972e9;
}

.swiper-button-next { color: white !important; }

.swiper-button-prev { color: white !important; }


.swiper-slide {
    transform: translateY(25%);
}

@media (max-width: 1000px) {
    .swiper-slide {
        transform: translateY(0);
    }
}

.white-border {
    position: absolute;
    top: -20px;
    background-color: #fff;
    border: 2px solid #000;
    width: 40px;
    height: 460px;
}

.white-border.left {
    left: -20px;
}

.white-border.right {
    right: -20px;
}

.binary-data {
    width: 150px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: var(--blue);
    font-family: monospace;
    font-size: 24px;
    z-index: 10;
    text-align: justify;
    word-wrap: break-word;
}

.code {
    position: absolute;
    left: 10px;
    bottom: -100px;
    background-color: transparent;
    color: #6fa4e0;
    font-family: monospace;
    z-index: 10;
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}